
<nav class="navbar navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"    [routerLink]="['']" routerLinkActive="active"><h5 style="color: #ffc107;font: 25px ;font-family: KaushanScript-Regular;">Cvmodele</h5></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="p1 collapse navbar-collapse" id="">
      <ul style="letter-spacing:0.5px;font-family:'JF Flat';font-size:1rem" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link "  [routerLink]="['/cv']" >Cv</a>
          
        </li>
        <li class="nav-item">
          
          <a class="nav-link "  [routerLink]="['/entretien']" >Entretien</a>
        </li>
      </ul>  
    </div>
  </div>
</nav>