<div class="div">
  <h3 > Creez votre cv en 5 min et commencez maintenent à postuler aux emplois</h3>
  <section class="section-1">
   
    <div class="row">
      <figure class="figure">
        <img  src="./assets/img/temp1.png">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a  [routerLink]="['/temp1']"  routerLinkActive="active"  ></a>
      </figure>
          <figure class="figure">
        <img src="./assets/img/temp2.jpg">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a [routerLink]="['/temp2']"></a>
      </figure>
          <figure class="figure">
        <img src="./assets/img/temp3.png">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a [routerLink]="['/temp3']"></a>
      </figure>
      <figure class="figure">
        <img src="./assets/img/temp4.png">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a  [routerLink]="['/temp4']"></a>
      </figure>
      <figure class="figure">
        <img src="./assets/img/temp5.png">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a [routerLink]="['/temp5']"></a>
      </figure>
      <figure class="figure">
        <img src="./assets/img/temp6.jpg">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a [routerLink]="['/temp6']"></a>
      </figure>
      <figure class="figure">
        <img src="./assets/img/temp7.jpg">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a  [routerLink]="['/temp7']"></a>
      </figure>
      <figure class="figure">
        <img src="./assets/img/temp8.jpg">
        <figcaption>
          <h3>Séléctioner</h3>
        </figcaption>
        <a [routerLink]="['/temp8']"></a>
      </figure>
    </div>
  </section>

</div>
<ng-adsense [adClient]="'ca-pub-9699838283559081'" [pageLevelAds]="true"></ng-adsense>
